.form-background{
  background-color: rgb(187, 241, 248);
  text-align: center;
  padding: 20%;
  border-radius: 10%;
  margin-top: 10%;
  margin-bottom: 30%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25px;
}


.button{
  background-color: rgb(35, 44, 70);
  color: white;
  width: 70%;
  height: 35px;
  border-radius: 10%;

}

.button:hover{
  background-color: rgb(8, 31, 51);
}
